body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: arial, Arial, Helvetica, sans-serif;
  line-height: 1.9em;
}
header {
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  max-width: 1300px;
  z-index: 1;
  top: 0;
  left: 0;
}
  
header h1 {
  background-color: #f4f4f4;
  color: #29548d;
  border: 2px solid #1461c6;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 18px;
  font-size: 2.5em;
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  max-width: 100%;
}
.banner .welcome {
  padding: 30px;
  position: absolute;
  left: 0px;
  top: 30%;
  line-height: 75px;
}
.banner h2 {
  font-size: 25px;
  color: #1461c6;
  padding: 0 40px;
  margin: 80 auto;
}
.banner h2 span {
  font-size: 1.5em;
  color: #042b4d;
}
nav {
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 106px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li {
  width: 20%;
  display: inline-block;
  font-size: 16px;
}
nav li a {
  text-decoration: none;
  color: #1461c6;
}
main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 70px;
  box-sizing: border-box;
   background-color: #f4f4f4;
}
article h2 {
  color: #f63232;
  font-size: 30px;
}
article p {
  line-height: 1.9em;
  color: #1461c6;
}
.images {
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
}
.images li {
  display: inline-block;
  width: 40%;
  margin: 20px 5%;
}
.images li img {
  max-width: 100%;
}

#showcase {
  line-height: 40px;
  background-image: url("img/backgg.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  min-height: 300px;
  margin-bottom: 20px;
  text-align: left;
  padding: 25px;
  padding-top: 40px;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.side-bar {
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
  color: #1461c6;
}
.sidebar {
  float: right;
  width: 30%;
  background: #042b4d;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 3px;
}
#Article {
  color: #f63232;
}
#join {
  background-color: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: #1461c6;
  float: center;
}
#join h2 {
  font-size: 36px;
  color: #29548d;
}
form input {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 13px;
  border: 2px solid #f63232;
}
footer {
  background-color: #042b4d;
  color: white;
  padding: 10px;
  text-align: center;
}
nav li a:hover {
  text-decoration: underline;
  color: #f63232;
}
.images li:hover {
  position: relative;
  top: -4px;
}
form input:focus {
  border: 2px solid #1461c6;
  outline: none;
}
form input:valid {
  border: 2px solid #f63232;
  background-color: #f4f4f4;
}
p::selection {
  background-color: #f63232;
  color: white;
}

@media screen and (max-width: 1400px) {
  .banner .welcome h2 {
    font-size: 44px;
  }
   nav li {
    font-size: 18px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .banner .welcome h2 {
    font-size: 30px;
  }
  .banner .welcome {
    position: relative;
    text-align: center;
    padding: 20px;
  }
  nav li {
    width: 20%;
    display: inline-block;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  header {
    background-color: #f4f4f4;
    position: relative;
  }
  .banner .welcome {
    position: relative;
    text-align: center;
    padding: 10px;
  }
  nav li {
    line-height: 8px;
    display: block;
    font-size: 16px;
  }

  .banner .welcome h2 {
    font-size: 35px;
  }
  .banner .welcome span {
    font-size: 1em;
  }
  .images li {
    width: 100%;
    margin: 20px auto;
    display: block;
  }
  .side-bar {
    width: 100%;
    float: none;
  }
  .sidebar {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 650px) {
  header {
    border: none;
    padding: 0px;
    margin: 0px;
    width: 10px;
  }
  header h1 {
    position: absolute;
    left: 0px;
    padding: 0px;
    margin: 40px;
    width: 1px;
    border: none;
    background-color: #dadedf;
  }
}

@media screen and (max-width: 560px) {
  body {
    background-color: #f4f4f4;
  }
  nav li {
    font-size: 20px;
    display: block;
    width: 100%;
    margin: 12px 0;
  }

  header {
    position: relative;
  }
  nav {
    top: 0;
  }
  .side-bar {
    width: 100%;
    float: none;
  }
  .sidebar {
    width: 100%;
    float: none;
  }
}
